.btn-ged a{
    text-decoration: none;
    border: none;
    border-radius: 8px;
    color: black;

}

.btn-ged{

  
    background-color: rgb(226, 163, 4);
    border: none;

}

.btn-ged:hover{
    background-color: aqua;
}